* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  text-align: center;
  display: flex;
}

#simulationCanvas {
  background-color: #ddd;
}

#networkCanvas {
  background-color: #000;
}
